body {
    background-color: #f0ffa4;
}

.divs {
    background-color: #000000;
    border-radius: 19px;
    font-size: 20px;
    color: #eeff6d;
}

.blue {
    color: #0000ff;
}

.mog {
    color: #e4fd27;
}